@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  background: #f8f8f8;
}

h1,h2,h3,h4{
  font-weight: 600 !important;
  margin-bottom: 15px !important;
}
header{
  position: fixed;
  width: 100%;
  padding: 10px 0
}

.logo img{
  filter: drop-shadow(2px 1px 0px white);
  max-width: 68px;
}

.section_bg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #FF8465;
  height: 100vh;
  padding: 2rem;
  width: 50%;
  flex-flow: column;
  text-align: center;
}

h2.pg_title {
  font-size: 30px;
  color: rgb(114, 113, 113);
  /* text-transform: uppercase; */
}

.register {
  max-width: 400px;
}

input,select,textarea {
  background: rgba(255,255,255,.2);
  border: 1px solid rgb(118, 117, 117);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px !important;
  padding: 10px;
  line-height: -31px;
}

input:focus, select:focus,textarea:focus{
  outline: 0;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  /* width: 100%; */
}
::placeholder,
option:first-child {
  color: #7d7d7d;
  font-size: 14px;
  font-style: italic;
}

button {
  background: #068c5f;
  margin: 1rem 0;
  padding: 10px ;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase !important;
  color: #fff;
  font-size: 14px !important;
  cursor: pointer;
}

.form_section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.form{
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  /* background: #dedede; */
  /* margin: 1rem; */
  width: 50%;
  height: 80vh;
}

.form label{
  margin-bottom: 1rem;
}

.form button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}


.form_section>div{
  width: 50%;
  z-index: 1
}

.text_block{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-right: 20%;
}

.text_block img{
  max-width: 400px;
  animation: buzz-out-on-hover 5s ease infinite;
}

.text_block h1 {
  font-size: 50px;
  font-weight: 700 !important;
  color: #fff;
  margin-bottom: 10px !important;
}

.text_block p {
  color: #3f3d56;
  font-size: 20px;
  margin-left: 20px;
  line-height: 25px;
}

.login img{
  animation: none;
  max-width: 230px;
}

.error {
  color: red;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
}

@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

#register .text_block{
  position: relative;
}

#register .text_block::before{
  /* background: url('https://plus.unsplash.com/premium_photo-1661759370890-26ea261f5080?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') no-repeat; */
  background-size: contain;
  position: absolute;
  right: -80%;
  width: 100%;
  content: '';
  height: 100%;
  z-index: 0;
  bottom: 20%;
  opacity: 0.3;
}